.button {
	display: inline-block;
}

.car {
	background-color: #00ff00;
	color: #00ff00;
	height: 50px;
	width: 50px;
	position: fixed;
}

.copcar {
	background-color: #0000ff;
	color: #0000ff;
	height: 50px;
	width: 50px;
	position: fixed;
}

.motorcycle {
	background-color: #ff0000;
	color: #ff0000;
	height: 50px;
	width: 50px;
	position: fixed;
}

.tank {
	background-color: #000000;
	color: #000000;
	height: 50px;
	width: 50px;
	position: fixed;
}
